body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(198, 187, 250);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.clock-container {
    background-color: rgb(230, 151, 250);
    padding: 30px 60px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(253, 230, 252);
}

#clock {
    color: black;
    font-size: 30px;
    letter-spacing: 3px;
}