.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0, 70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("picture 1.jpeg");
    min-height: 100px;
}

.pimg2 {
    background-image: url("picture 2.jpeg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("picture 3.jpeg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: rgb(199, 225, 248);
    color: rgb(61, 60, 60);
}

.section-dark {
    background-color: rgb(183, 170, 219);
    color: aliceblue;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: black;
    color: aliceblue;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(220, 188, 250);
    color: rgb(255, 254, 255);
    text-align: center;
}